/* Your app custom files in this file */
/* Tab bar icons */
i.icon-home {
  width: 30px;
  height: 30px;
  background-image: url("/img/icon/home_gray.png");
}
.active i.icon-home {
  background-image: url("/img/icon/home_red.png");
}
i.icon-friend {
  width: 25px;
  height: 30px;
  background-image: url("/img/icon/group_gray.png");
}
.active i.icon-friend {
  background-image: url("/img/icon/group_colors.png");
}
i.icon-chat {
  width: 30px;
  height: 30px;
  background-image: url("/img/icon/chat_gray.png");
}
.active i.icon-chat {
  background-image: url("/img/icon/chat_colors.png");
}
i.icon-mine {
  width: 25px;
  height: 30px;
  background-image: url("/img/icon/person_gray.png");
}
.active i.icon-mine {
  background-image: url("/img/icon/person_blue.png");
}

i.icon-close {
  width: 20px;
  height: 25px;
  background-image: url("/img/icon/close.png");
}
i.icon-plus {
  width: 25px;
  height: 30px;
  background-image: url("/img/icon/plus.png");
}
i.icon-add-user {
  width: 25px;
  height: 30px;
  background-image: url("/img/icon/add_user.png");
}
i.icon-add-friend {
  width: 25px;
  height: 30px;
  background-image: url("/img/icon/add_friend_plus.png");
}


