<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.im.app.base.mybatis.mapper.ChatRoomMapper">

<resultMap type="com.im.app.base.bean.ChatRoom" id="ChatRoomBaseMapper">
	<id property="id" column="id" />
	<result property="myUserId" column="my_user_id" />
	<result property="friendUserId" column="friend_user_id" />
	<result property="createTime" column="create_time" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>
   	insert into chat_room(my_user_id, friend_user_id, create_time) 
   	values(#{myUserId}, #{friendUserId}, now())  
</insert>

<select id="getChatRoomByParm" resultMap="ChatRoomBaseMapper">
	select * from chat_room 
	where my_user_id in (${parm.myUserId},${parm.friendUserId}) 
	and friend_user_id in (${parm.myUserId},${parm.friendUserId})
</select>

</mapper>